extends layout

block content
    div(class="header")
        a(href="#")
            i(class='fas fa-address-card') cosa
        h2(class="title major") SISTEMA DE TRANSACCIONES ESTUDIANTILES
        h1(class="title movil") STE
        img(src='/img/ucaVECTOR.ico',alt="Log")
        
        