extends layout

block content
    
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 Cambio de imagen
            div( class = "Formulario img-change")
                form(enctype="multipart/form-data", method="POST", action="/")
                    input#uploadedfile(name="uploadedfile" type="file")
                    input(type="submit" value="Subir archivo")





