extends layout

block content
    div(class="perfil hide-mobile major lateral")
        div(class="informacion")
            img(src='#', alt="Foto_perfil")
<<<<<<< HEAD
            a(href="#") Nombre Completo
            a(href="mailto:someone@uca.edu.sv") someone@uca.edu.sv
=======
            p  #{nombre}
            a(href="mailto:#{usuario}@uca.edu.sv") #{usuario}@uca.edu.sv
>>>>>>> 1fc7658b46094a0e9523d3ce031533c797d923e6
            p "carrera"
        
        div(class="Ayuda")
            p Ayuda
            img(src="./img/ayudaBlanco.ico", alt="")

        div(class="close")
            p Cerrar Sesion
            img(src="./img/Salir.ico", alt="")
