extends layout

block content
    div(class="perfil hide-mobile major lateral")
        div(class="informacion")
            img(src='#', alt="Foto_perfil")
            p  #{nombre}
            a(href="mailto:someone@uca.edu.sv") #{usuario}@uca.edu.sv
            p "carrera"
        
        div(class="Ayuda")
            p Ayuda
            a(href="#")
                i cosa

        div(class="close")
            p Cerrar Sesion
            a(href="#")
                i cosa
