extends layout

block content
    div(class="perfil hide-mobile major lateral")
        div(class="informacion")
            img(src='#', alt="Foto_perfil")
            h2 Nombre Completo
            a(href="mailto:#{someone}@uca.edu.sv") #{someone}@uca.edu.sv
        
        div(class="Ayuda")
            ul
            h3 Ayuda
            img(src="#", alt="Ayuda")

        div(class="close")
            h3 Cerrar Sesion
            img(src="#", alt="Salir")
   
