extends layout

block content

    div(class="perfil hide-mobile major lateral")
        div(class="informacion")
            a(href='/imgChange', class="change")  Actualizar foto
                img(src=user.foto, alt="Foto_perfil")
            p  #{user.nombre}
            a(href="mailto:#{user.usuario}@uca.edu.sv") #{user.usuario}@uca.edu.sv
        div(class="Ayuda" id="ayuda")
            p Ayuda
            img(src="./img/ayudaBlanco.ico", alt="")

        div(class="Ayuda" id="salir")
            a(href='/logout') Cerrar Sesion
            img(src="./img/Salir.ico", alt="")
