extends layout

block content
    div(class="perfil hide-mobile major lateral menu")
        div(class="informacion")
            img(src='#', alt="Foto_perfil")
            p  #{nombre}
            a(href="mailto:#{usuario}@uca.edu.sv") #{usuario}@uca.edu.sv
            p "carrera"
        div(class="Ayuda" id="ayuda")
            p Ayuda
            img(src="./img/ayudaBlanco.ico", alt="")

        div(class="Ayuda")
            p Cerrar Sesion
            img(src="./img/Salir.ico", alt="")