doctype html
html
  head
    title STE
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/assets/CSS/style.css')
    script(src="https://kit.fontawesome.com/03a6f41ea4.js" crossorigin="anonymous")
    script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript", src='./assets/JS/charts.js')
  body
    block content
