doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/assets/css/style.css')
    
  body
    div
      block content
        //include header.pug
      div#bg
    script(src="/assets/js/lateral.js")
    
