doctype html
html
  head
    title STE
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
<<<<<<< HEAD
    link(rel='stylesheet', href='/assets/CSS/style.css')
=======
    link(rel='stylesheet', href='/assets/css/style.css')
>>>>>>> f58e3d825fb414856c1be044fab656474f2c5470
  body
    block content
