extends layout

block content
    include header
    div#container
    div(class= 'Formulario')
     form(method ="post" action ="/principalE")
        label(for="usuario" class="form") Usuario
        input#user(type="text", name="usuario" , required, placeholder="Usuario", maxlength="8")
        label(for="contrasea") Contraseña
        input#password(type="password" name="contrasea", required, placeholder="Contraseña")
        div#lower       
        input(type="submit" value="Acceder")
    footer
   