extends layout

block content
    include header
<<<<<<< HEAD
    body
    div#container
    div(class= 'Formulario')
=======
>>>>>>> c60e9e2479a9f4d2f086d93adddae7666d4b1358
    form(method ="post")
        label(for="user" class="form") Usuario
        input#user(type="text", name="Usuario" , required, placeholder="Usuario", maxlength="8")
        label(for="user") Contraseña
        input#password(type="password" name="Contraseña", required, placeholder="Contrseña")
        div#lower       
        input(type="submit" value="Acceder")