extends layout

block content
    include header
    div(class="container")
        div(class="yellowbar")
            h3 BIENVENIDO
        div(class='Formulario')
            form(method ="post" action ="/principalE")
                label(for="usuario" class="data") Usuario:
                input#user(type="text", name="usuario" , required, placeholder="Usuario", maxlength="8")
                label(for="contrasea" class="data") Contraseña:
                input#password(type="password" name="contrasea", required, placeholder="Contraseña")      
                input(id="boton" type="submit" value="Acceder")
    div(class="footer")