extends layout

block content
    include header
    div(class="container")
        div(class="yellowbar")
            h3 BIENVENIDO
        div(class='Formulario')
<<<<<<< HEAD
            form(method ="post" action ="signin" name="signin" id="signin")
                label(for="usuario" class="form") Usuario
=======
<<<<<<< HEAD
            form(method ="post" action ="/principalE")
                label(for="usuario" class="data") Usuario:
=======
            form(method ="post" action ="signin" name="signin" id="signin")
                label(for="usuario" class="form") Usuario
>>>>>>> 1fc7658b46094a0e9523d3ce031533c797d923e6
>>>>>>> b9dc6d6970f26f0f5a28630cb40d865b8725b966
                input#user(type="text", name="usuario" , required, placeholder="Usuario", maxlength="8")
                label(for="contrasea" class="data") Contraseña:
                input#password(type="password" name="contrasea", required, placeholder="Contraseña")      
                input(id="boton" type="submit" value="Acceder")
    div(class="footer")
