extends layout

block content
    include header
    form(method ="post" action ="/principalE")
        label(for="usuario" class="form") Username
        br
        input#user(type="text", name="usuario" , required, placeholder="username")
        br
        label(for="password") Password
        br
        input#password(type="password" name="contrasea", required, placeholder="password")
        br
        input(type="submit" value="Log In")