extends layout

block content
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 Saldo: #{saldo}
            div(class="tarjeta")
                div(class="tarjetas")
                    h3 Transacciones
                    img(src='./img/transaccion.ico')

                div(class="tarjetas")
                    h3 Estadisticas
                    img(src='./img/estadisticas.ico', alt="Es")

