extends layout

block content
    include header
    div(class="container")
        include lateral
        div(class="principal")
            div(class="saldo")
                h3 Saldo:
                h3 "aqui va el saldo"
            
            div(class="tarjetas")
                h3 Transacciones
                img(src="#", alt="Tr")

            div(class="tarjetas")
                h3 Estadisticas
                img(src="#", alt="Es")

