extends layout

block content
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 Las Terrazas #{lugar}
            div(class="tarjetas")
                a(href="/transaccionesE")
                    div(class="tarjetas")
                        h3 Compra
                        img(src='./img/compra.ico')
                a(href="/estadisticasE")
                    div(class="tarjetas")
                        h3 Recarga
                        img(src='./img/recarga.ico', alt="Es")
