extends layout

block content
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 Saldo: #{saldo}
            div(class="main")
                a(href="/transaccionesE")
                    div(class="tarjetas")
                        h3 Transacciones
                        img(src='./img/transaccion.ico')
                a(href="/estadisticasE")
                    div(class="tarjetas")
                        h3 Estadisticas
                        img(src='./img/estadisticas.ico', alt="Es")
