extends layout

block content
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 holi
            div(class="tarjetaPrincipal")
                a(href="/cobro" class="tarjetas")
                        h3 Cobro
                        img(src='./img/compra.ico')
                a(href="/recarga" class="tarjetas")
                    h3 Recarga
                    img(src='./img/recarga.ico', alt="Es")
            div(class="help")
                  img(src="./img/ayudaBlanco.ico")
                  p En esta pantalla se muestras dos opciones en donde la primera lo llevara a ver con detalle las transacciones que el estudiante ha realizado y la otra opcion mostrara las estadisticas.