extends layout

block content
    include header
    div(class="container")
        div(class='principal')
            div(class="yellowbar")
                h3 Realizar Recarga
            div(class='recargar')
                form(method ="post" action ="signin" name="signin" id="signin")
                    label(for="usuario" class="form") Usuario a recargar: 
                    input#user(type="text", name="usuario" , required, placeholder="Usuario")
                    
                    label(for="contrasea" class="data") Contraseña:
                    input#password(type="password" name="contrasea", required, placeholder="Contraseña")      
                    input(id="boton" type="submit" value="Acceder")
    div(class="footer")
