extends layout

block content
    include header.pug
    div(class="container")
        include lateral.pug
        div(class="mobile")
            table
                tr
                    th
                tr
                    td
