extends layout

block content
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 Transacciones 
                img(src="/img/vector.ico", alt="$" class="imgY")
            div(class="movimientos")
                table
                    tr(class="bluebar")
                        th 
                            h3 Movimientos
                        th(class="major") 
                            h3 Fecha/Hora
                        th(class="major")
                            h3 N° Transaccion
                        th
                            h3 Monto
                    tr(class="transaccion")
                        td
                            h3 Compra: Libreria Uca
                        td(class="major")
                            h3 11/nov
                        td(class="major")
                            h3 1236554
                        td
                            h3 -$1.00
                            h3 $14.00
                    tr(class="transaccion")
                        td
                            h3 Compra: Libreria Uca
                        td
                            h3 -$1.00
                            h3 $14.00
                    tr(class="transaccion")
                        td
                            h3 Compra: Libreria Uca
                        td(class="major")
                            h3 11/nov
                        td(class="major")
                            h3 1236554
                        td
                            h3 -$1.00
                            h3 $14.00
                