extends layout

block content
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 Transacciones 
                img(src="/img/vector.ico", alt="$" class="imgY")
            div(class="movimientos")
                div(class="bluebar")
                    h3 Movimientos
                    h3(class="major") Fecha/Hora
                    h3(class="major") N° Transaccion
                    h3 Monto
                div(class="transaccion")
                    h3 Compra: Las Terrazas
                    div(class="datos")
                        h3(class="major") Fecha/Hora
                        h3(class="major") N° Transaccion
                        div(class="monto")
                            h3 -$1.00
                            h3 $14.00
                div(class="transaccion")
                    h3 Compra: Libreria Uca
                    div(class="datos")
                        div(class="monto")
                            h3 -$1.00
                            h3 $14.00
                div(class="transaccion")
                    h3 Compra: Libreria Uca
                    div(class="datos")
                        h3 -$1.00
                        h3 $14.00
                div(class="transaccion")
                    h3 Compra: Libreria Uca
                    div(class="datos")
                        h3 -$1.00
                        h3 $14.00
                div(class="transaccion")
                    h3 Compra: Libreria Uca
                    div(class="datos")
                        h3 -$1.00
                        h3 $14.00
                div(class="transaccion")
                    h3 Compra: Libreria Uca
                    div(class="datos")
                        h3 -$1.00
                        h3 $14.00
                div(class="transaccion")
                    h3 Compra: Libreria Uca
                    div(class="datos")
                        h3 -$1.00
                        h3 $14.00
            div(class="help")
                  img(src="./img/ayudaBlanco.ico")
                  p En esta pantalla se mostrara con detalles las transacciones que el estudiante a realizado, se mostrara el lugar donde compro y en donde abono, la fecha y la hora, el numero de transaccion y el monto.