extends layout

block content
    div(class="container")
        include lateral
        div(class="principal")
            include header
            div(class="yellowbar")
                h3 Realizar Cobro
                img(src="/img/Compra.ico", class="imgE")
            div(class="compras")
                div(class="compra")
                    form(method ="post" action ="signin" name="signin" id="signin")
                        label(for="usuario" class="form") Usuario a cobrar:
                        input#user(type="text", name="usuario" , required, maxlength="8")
                        label(for="cantidad" class="data") Cantidad a cobrar:
                        input#user(type="text" name="cantidad", required)
                        label(for="detalle" class="data") Detalle de la compra:
                        input#user(type="text" name="detalle" class="detalle")      
                        input(id="boton" type="submit" value="ENVIAR")