@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/* Aplicando un formato general al html
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
} */


body {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px;
  width: auto;
  font-family: 'Nanum Gothic', sans-serif;  
  height: 100vh;
}
.hide-mobile{
  display: none;
}
.title{
  text-align: end;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0a2342;
  color: #ffffff;
  height: 15%;
  padding: 10px;
}
.major{
  display: none;
}
.saldo{
  background-color: #f9dc5c;
  padding: 0.5em;
  margin: 3em auto;
  width: 80%;
  border-radius: 1em;
  text-align: center;
}
.tarjetas:hover{
  border-left: 0.5em solid #f9dc5c;
}
.header img{
  height: 5em;
}
.lateral{
  height: 100vh;
}
.tarjetas{
  background-color: #ced3dc;
  padding: 0.5em;
  border-left: 0.5em solid #0a2342;
  margin: 3em auto;
  width: 80%;
  box-shadow: 2px 2px 3px #928a926e;
}
.container{
  display: flex;
}
.principal{
  width: 100%;
}

/* 
.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-gap: 0px;
  padding: 0px;
}
.perfil {
  background-color: #0a2342;
  color: #ffffff;
  grid-row-start: 1;
  grid-row-end: 3;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: auto;
}

.principal {
  height: 100%;
}
.saldo {
  background-color: #f9dc5c;
}

.informacion h2 {
  font-size: 20px;
}
.informacion a {
  text-decoration: none;
  color: #ffffff;
} */

@media only screen and (min-width: 768px) {
  .major{
    display:inline;
  }
  .movil{
    display:none;
  }
  .perfil{
    width: 20%;
  }
  .principal{
    width: 80%;
  }
  .perfil{
    background-color: #0a2342;
  }
  .fas{
    display: none;
  }
}
