@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

/* Aplicando un formato general al html
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
} */

/* General */
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px;
  width: auto;
  font-family: "Nanum Gothic", sans-serif;
  height: 100vh;
}

.yellowbar {
  display: flex;
  justify-content: center;
  background-color: #f9dc5c;
  width: 100%;
  text-align: center;
}
.imgY {
  width: 6em;
  height: auto;
}
.Ayuda {
  display: flex;
  flex-direction: row;
}
.Ayuda a {
  margin-left: 45%;
  padding: 0px;
}
.Ayuda p {
  margin-left: 10%;
  padding: 0px;
}
.Ayuda:hover {
  background-color: #3c445f;
}
.close {
  display: flex;
  flex-direction: row;
}
.close:hover {
  background-color: #3c445f;
}
.close a {
  margin-left: 26%;
  padding: 0px;
}
.close p {
  margin-left: 10%;
  padding: 0px;
}

.hide-mobile{
  display: none;
}

.container{
  display: flex;
}
/* Header */

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0a2342;
  color: #ffffff;
  height: 15%;
  padding: 10px;
}

.major {
  display: none;
}

.title {
  text-align: end;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.informacion {
  width: 100%;
  justify-content: center;
  height: 25vh;
}
.hide-mobile {
  display: none;
}

.tarjetas:hover {
  border-left: 0.5em solid #f9dc5c;
}
.header img {
  height: 4em;
}
.lateral {
  height: 100vh;
}
.tarjetas {
  background-color: #ced3dc;
  padding: 0.5em;
  border-left: 0.5em solid #0a2342;
  margin: 3em auto;
  width: 80%;
  box-shadow: 2px 2px 3px #928a926e;
}
.container {
  display: flex;
}
.principal {
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .major {
    display: inline;
  }
  .movil {
    display: none;
  }
  .perfil {
    width: 20%;
  }
  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0a2342;
    color: #ffffff;
    height: 15%;
    padding: 10px;
    align-content: center;
  }
  .tarjetas {
    width: 10em;
    height: 7em;
    border-left: 0px;
    border-bottom: 0.5em solid #0a2342;
    text-align: center;
  }
  .principal {
    width: 80%;
  }
  .perfil {
    background-color: #0a2342;
  }
  .fas {
    display: none;
  }
  .tarjetas:hover {
    border-bottom: 0.5em solid #f9dc5c;
    border-left: 0px;
  }
  .tarjeta {
    display: flex;
    flex-direction: row;
  }
  .yellowbar {
    background-color: #f9dc5c;
    padding: 0.5em;
    margin: 3em auto;
    width: 80%;
    height: 10%;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
  }
}
@media only screen and (min-width: 1440px) {
  h1 {
  }
}
