@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

/* Aplicando un formato general al html
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
} */

/* General */

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px;
  width: auto;
  font-family: "Nanum Gothic", sans-serif;
  height: 100vh;
}

.yellowbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9dc5c;
  padding: 0 0.5em;
  width: 100%;
<<<<<<< HEAD:public/assets/css/style.css
  text-align: center;
  margin-top: 5em;
=======
>>>>>>> de7da0c227f270e4eea74966361d08a305de7916:public/assets/CSS/style.css
}
.imgY {
  width: 6em;
  height: auto;
}
.Ayuda {
  display: flex;
  flex-direction: row;
}
.Ayuda a {
  margin-left: 45%;
  padding: 0px;
}
.Ayuda p {
  margin-left: 10%;
  padding: 0px;
}
.Ayuda:hover {
  background-color: #3c445f;
}
.close {
  display: flex;
  flex-direction: row;
}
.close:hover {
  background-color: #3c445f;
}
.close a {
  margin-left: 26%;
  padding: 0px;
}
.close p {
  margin-left: 10%;
  padding: 0px;
}

.container{
  display: flex;
  height: 85%;
}
/* Header */

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0a2342;
  color: #ffffff;
  height: 15%;
  padding: 10px;
}

.major {
  display: none;
}

.title {
  text-align: end;
}
.header img{
  height: 4em;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.informacion {
  width: 100%;
  justify-content: center;
  height: 25vh;
}
.hide-mobile {
  display: none;
}

.tarjetas:hover {
  border-left: 0.5em solid #f9dc5c;
}
.header img {
  height: 4em;
}
.lateral {
  height: 100vh;
}
.tarjetas {
  background-color: #ced3dc;
  padding: 0.5em;
  border-left: 0.5em solid #0a2342;
  margin: 3em auto;
  width: 80%;
  box-shadow: 2px 2px 3px #928a926e;
}
.container {
  display: flex;
}
.principal {
  width: 100%;
}
<<<<<<< HEAD:public/assets/css/style.css
a {
  text-decoration: none;
  color: #fff;
}

/* Login */

/*label{
  margin-bottom: 0.5em;
}*/

#boton{
  background-color: #0a2342;
  color: #fff;
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0a2342;
  height: 15%;
  padding: 10px;
  position:relative;
    bottom:-110px;
    right:0px;
}

.container{
  align-content: center;
}
.Formulario{
=======

/* Transacciones */

.movimientos{
>>>>>>> de7da0c227f270e4eea74966361d08a305de7916:public/assets/CSS/style.css
  background-color: #ced3dc;
  border-style: solid;
  border-color: #0a2342;
  border-radius: 1em;
  overflow: scroll;
  width: 85%;
<<<<<<< HEAD:public/assets/css/style.css
  margin-top: 40px;
  border-radius: 0.5em;
}

form {
  display:flex;
  width: 100%;
  padding:0px;
  text-align: center;
  margin-top: 50px;
  flex-direction: column;
}
.data{
  padding-bottom: 20px;
  width: 100%;
}
input {
  display: block;
  margin: auto auto;
  width: 70%;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
  border-radius: 0.5em;
=======
  height: 70%;
  margin: 1em;
  margin-left: 1.6em ;
}

.bluebar{
  display: flex;
  background-color: #0a2342;
  border-radius: 0.8em 0.8em 0 0;
  color: white;
  font-size: 1em;
  justify-content: space-between;
  position: fixed;
  width: 66%;
  padding: 0.4em 2.5em;
}

.transaccion{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: solid white;
}
.transaccion h3{
  padding: 0 1em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.datos{
  display: flex;

>>>>>>> de7da0c227f270e4eea74966361d08a305de7916:public/assets/CSS/style.css
}

@media only screen and (min-width: 768px) {
  .major {
    display: inline;
  }
  .movil {
    display: none;
  }
  .perfil {
    width: 20%;
  }
  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0a2342;
    color: #ffffff;
    height: 10%;
    padding: 10px;
    align-content: top;
  }
  .tarjetas {
    width: 10em;
    height: 7em;
    border-left: 100px;
    border-bottom: 0.5em solid #0a2342;
    text-align: center;
  }
  .principal {
    width: 80%;
  }
  .perfil {
    background-color: #0a2342;
  }
  .fas {
    display: none;
  }
  .tarjetas:hover {
    border-bottom: 0.5em solid #f9dc5c;
    border-left: 0px;
  }
  .tarjeta {
    display: flex;
    flex-direction: row;
  }
  .yellowbar {
    background-color: #f9dc5c;
    padding: 0.5em;
    margin: 3em auto;
    width: 80%;
    height: 10%;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
  }

  /*Transacciones*/

  .imgY{
    height: 5em;
    width: auto;
  }
  .yellowbar{
    font-size: 1.4em;
    margin: 1em;
    margin-left: 4em;
  }
  .movimientos{
    margin-left: 5em;
  }

  .bluebar{
    width: 62.3%;
  }
}

/* Login */


@media only screen and (min-width: 1440px) {
  h1 {
  }
}