@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/* Aplicando un formato general al html
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
} */
.perfil{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.informacion{
  width: 100%;
  justify-content: center;
}

body {
  display: grid;
  margin: auto;
  padding: 0px;
  width: auto;
  font-family: 'Nanum Gothic', sans-serif;  
  height: 100vh;
}
.hide-mobile{
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #0a2342;
  color: #ffffff;
}

.saldo{
  background-color: #f9dc5c;
  padding: 0.5em;
  margin: 3em auto;
  width: 80%;
  border-radius: 1em;
}

.tarjetas{
  background-color: #ced3dc;
  padding: 0.5em;
  border-left: 0.5em solid #0a2342;
  margin: 3em auto;
  width: 80%;
  box-shadow: 2px 2px 3px #928a926e;
}
.container{
  display: flex;
}

/* 
.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-gap: 0px;
  padding: 0px;
}
.perfil {
  background-color: #0a2342;
  color: #ffffff;
  grid-row-start: 1;
  grid-row-end: 3;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: auto;
}

.principal {
  height: 100%;
}
.saldo {
  background-color: #f9dc5c;
}

.informacion h2 {
  font-size: 20px;
}
.informacion a {
  text-decoration: none;
  color: #ffffff;
} */

@media only screen and (min-width: 768px) {
  .major{
    display:inline;
  }
  .movil{
    display:none;
  }
  .perfil{
    width: 20%;
  }
  .tarjetas{
    width: 10em;
    height: 7em;
    border-left: 0px;
    border-bottom: 0.5em solid #0a2342;
  }
  .principal{
    width: 80%;
  }
<<<<<<< HEAD:public/assets/css/style.css
=======
  .perfil{
    background-color: #0a2342;
  }
  .fas{
    display: none;
  }
  .tarjetas:hover{
    border-bottom: 0.5em solid #f9dc5c;
    border-left: 0px;
  }
  .tarjeta{
    display: flex;
    flex-direction: row;
  }
>>>>>>> Fer:public/stylesheets/style.css
}
