@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

/* Aplicando un formato general al html
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
} */

/* General */
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px;
  width: auto;
  font-family: "Nanum Gothic", sans-serif;
  height: 100vh;
}

.yellowbar {
  display: flex;
  justify-content: center;
  background-color: #f9dc5c;
  width: 100%;
  text-align: center;
  margin-top: 5em;
}
.imgY {
  width: 6em;
  height: auto;
}
.Ayuda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Ayuda a {
  margin-left: 45%;
  padding: 0px;
}
.Ayuda p {
  margin-left: 10%;
  padding: 0px;
}
.Ayuda img{
  width: 20%;
  height: 20%;
}
.Ayuda:hover {
  background-color: #3c445f;
}
.close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.close:hover {
  background-color: #3c445f;
}
.close a {
  margin-left: 26%;
  padding: 0px;
}
.close p {
  margin-left: 10%;
  padding: 0px;
}
.close img{
  width: 20%;
  height: 20%;
}
.fa-bars:before {
  content: "\f0c9";
  font-size: xx-large;
}
.hide-mobile{
  display: none;
}

.container{
  display: flex;
}
/* Header */

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0a2342;
  color: #ffffff;
  height: 15%;
  padding: 10px;
}

.major {
  display: none;
}

.title {
  text-align: end;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.informacion {
  display: grid;
  width: 100%;
  justify-content: center;
  height: 25vh;
}
.hide-mobile {
  display: none;
}

.tarjetas:hover {
  border-left: 0.5em solid #f9dc5c;
}
.header img {
  height: 4em;
}
.lateral {
  height: 100vh;
}
.tarjetas {
  display: flex;
  justify-content: space-around;
  background-color: #ced3dc;
  padding: 0.5em;
  border-left: 0.5em solid #0a2342;
  margin: 3em auto;
  width: 80%;
  box-shadow: 2px 2px 3px #928a926e;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50vh;
}
.principal {
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}

/* Login */

/*label{
  margin-bottom: 0.5em;
}*/

#boton{
  background-color: #0a2342;
  color: #fff;
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0a2342;
  height: 15%;
  padding: 10px;
  position:relative;
    bottom:-110px;
    right:0px;
}

.container{
  align-content: center;
}
.Formulario{
  background-color: #ced3dc;
  width: 85%;
  margin-top: 40px;
  border-radius: 0.5em;
}

form {
  display:flex;
  width: 100%;
  padding:0px;
  text-align: center;
  margin-top: 50px;
  flex-direction: column;
}
.data{
  padding-bottom: 20px;
  width: 100%;
}
input {
  display: block;
  margin: auto auto;
  width: 70%;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
  border-radius: 0.5em;
}
.tarjetas img{
  width: 20%;
  height: 20%;
  /*margin-left: 35%;*/
}


@media only screen and (min-width: 768px) {
  .major {
    display: inline;
  }
  .movil {
    display: none;
  }
  .perfil {
    width: 20%;
  }
  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0a2342;
    color: #ffffff;
    height: 15%;
    padding: 10px;
    align-content: top;
  }
  .tarjetas {
    width: 10em;
    height: 7em;
    border-left: 100px;
    border-bottom: 0.5em solid #0a2342;
    text-align: center;
  }
  .tarjetas img{
    width: 60%;
    height: 60%;
  }
  .header img{
    justify-content;: flex-end;
  }
  .header h1{
    font-size: vh;
    justify-content:center;
  }
  .principal {
    width: 80%;
  }
  .perfil {
    background-color: #0a2342;
  }
  
  .tarjetas{
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: auto;
  }
  .tarjetas img{
    margin-left: 0px;
    justify-content: space-between;
    width: 40%;
  }
  .tarjetas:hover {
    border-bottom: 0.5em solid #f9dc5c;
    border-left: 0px;
  }
  .tarjeta {
    display: flex;
    flex-direction: row;
  }
  .yellowbar {
    background-color: #f9dc5c;
    padding: 0.5em;
    margin: 3em auto;
    width: 80%;
    height: 10%;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

/* Login */


@media only screen and (min-width: 1440px) {
  h1 {
  }
}