@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

/* Aplicando un formato general al html
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vh);
} */

/* General */

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px;
  width: auto;
  font-family: "Nanum Gothic", sans-serif;
  height: 100vh;
}

.yellowbar {
  display: flex;
  justify-content: center;
  background-color: #f9dc5c;
  width: 100%;
  text-align: center;
}
.imgY {
  width: 6em;
  height: auto;
}
.Ayuda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid  2px;
  border-bottom: solid  1px;
  border-color: #3c445f;
}

.Ayuda a {
  margin-left: 45%;
  padding: 0px;
}

.Ayuda p {
  margin-left: 10%;
  padding: 0px;
}

.Ayuda img{
  width: 15%;
  height: auto;
}

.Ayuda:hover {
  background-color: #3c445f;
}

.hide-mobile{
  display: none;
}
.container{
  display: flex;
  justify-content: center;
  height: 85%;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0a2342;
  color: #ffffff;
  height: 15%;
  padding: 10px;
}
.fa-bars:before {
  content: "\f0c9";
  font-size: 5vh;
}

.major {
  display: none;
}

.title {
  text-align: end;
}
.header img{
  height: 4em;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.informacion {
  display: inline;
  justify-content: center;
}
.hide-mobile {
  display: none;
}

.tarjetas:hover {
  border-left: 0.5em solid #f9dc5c;
}
.header img {
  height: 4em;
}

.head{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  margin: 0.5em;
}

.menu {
  display: flex;
  background-color: #112935;
  position: absolute;
  z-index: 20;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  list-style: none;
  text-align: left;
}

.lateral {
  height: 100vh;
  font-size: 1.3em;
}
.tarjetas {
  display: flex;
  justify-content: space-around;
  background-color: #ced3dc;
  padding: 0.5em;
  border-left: 0.5em solid #0a2342;
  margin: 3em auto;
  width: 80%;
  box-shadow: 2px 2px 3px #928a926e;
  align-items: center;
}
.tarjetas img{
  width: 35%;
  height: 35%;
}
.container {
  display: flex;
  z-index: 1;
}
.principal {
  width: 100%;
}
/*ESTADISTICAS*/
.estadisticas{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  justify-items: center;
}

.chart_div{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 40%;
  width: auto;
}
.yellowbarE {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  background-color: #f9dc5c;
  width: 100%;
  text-align: center;
}
.imgE{
  width: 10%;
  height: auto;
}

/*COMPRAS*/

.detalle{
  height: 10vh;
}
.compra #boton{
  width: 20%;
  margin-left: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* Login */

#boton{
  background-color: #0a2342;
  color: #fff;
}

.Formulario{
  border-radius: 2em;
  background-color: #ced3dc;
  width: 80%;
  margin: auto;
  margin-top: 10%;
  padding: 1em;
  text-align: center;
}
  .data{
    padding-bottom: 20px;
    width: 100%;
  }
  .login{
    display: flex;
    flex-direction: column;
    text-align: initial;
  }
  .login label{
    margin-left: 10%;
    margin-bottom: 5px;
  }
  input {
    display: block;
    margin: 5px auto;
    width: 70%;
    height: 6vh;
    margin-bottom: 2em;
    border: none;
    border-bottom: 1px solid #eaeaea;
    color: #757575;
    border-radius: 0.5em;
  }
  .wrongData{
    color: red;
  }
  .checkbox{
    margin:0;
    width: 2em;
  }

  .checkDiv{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2.5em;
  }


/*ESTADISTICAS*/
.estadisticas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.chart_div{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 40%;
  width: auto;
}
.yellowbarE {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  background-color: #f9dc5c;
  width: 100%;
  text-align: center;
}
.imgE{
  width: 10%;
  height: auto;
}

/* COMPRAS */

.detalle{
  height: 10vh;
}
.compra #boton{
  width: 20%;
  margin-left: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* Login */

/*label{
  margin-bottom: 0.5em;
}*/

#boton{
  background-color: #0a2342;
  color: #fff;
}

footer {
  background-color: #0a2342;
  height: 15%;
}

.Formulario{
  background-color: #ced3dc;
  width: 80%;
  margin: auto;
  margin-top: 10%;
  padding: 1em;
  text-align: center;
}
  .data{
    padding-bottom: 20px;
    width: 100%;
  }
  input {
    display: block;
    margin: auto auto;
    width: 70%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
    border-radius: 0.5em;
  }

/* Transacciones */

.movimientos{
  background-color: #ced3dc;
  border-style: solid;
  border-color: #0a2342;
  border-radius: 1em;
  overflow: scroll;
  width: 80%;
  height: 60%;
  margin: 3em;
  margin-left: 2.4em ;
  padding-top: 2.5em;
}

.bluebar{
  display: flex;
  background-color: #0a2342;
  border-radius: 0.8em 0.8em 0 0;
  color: white;
  justify-content: space-between;
  position:fixed;
  width: 62.4%;
  padding: 0.4em 2.5em;
  margin-left: -0.36em;
  margin-top: -4em;
} 

 .transaccion{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: solid white;
} 

.transaccion p{
  padding: 0 1em;
  margin: 0;
}

table{
  width: 100%;
}

.exp{
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.help{
  display: none;
}
.mostrar{
  display: flex;
  z-index: 30;
  right: 18%;
  background-color: #f9dc5c;
  top: 50%;
  position: absolute;
  width: 15em;
  padding: 10px;
  height: auto;
  flex-direction: column;
  border-radius: 2em;
  color: #0a2342;
  font-size: 1.5em;
}

.mostrar img{
  width: 40%;
  height: 10%;
  margin-left: 4.5em;
}
.help p{
  text-align: center;
}

@media only screen and (min-width: 768px) {


      /* General */

      .yellowbar{
        font-size: 1.5em;
      }
      .imgY{
        height: 6em;
        width: auto;
      } 

      /* Header */

      .fa-bars{
        font-size: 2em;
        margin-left: 1em;
      }

      .header img{
        height: 6em;
        margin-right: 1em;
      }
      
      /*Transacciones*/

      .movimientos{
        height: 60%;
        margin-left: 4.5em;
        margin-top: 6em;
        padding-top: 2em ;
      }

      .bluebar{
        width: 70.3%;
        margin-left: -0.3em;
        margin-top: -6em;
        
      } 
      .bluebar h3{
        font-size: 1.8em;
      }

      .transaccion{
        font-size: 1.5em;
      }


  /* Compras */
  .compras{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding-top:2em
  }
  .compra{
    background-color: #ced3dc;
    width: 60%;
    padding: 1em;
  }
  .compra label{
    margin-left: 3em;
    
  }
  .detalle{
    height: 10vh;
  }
  .compra #boton{
    width: 20%;
    margin-left: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
.input{
  height: 2vh;
}


@media only screen and (min-width: 768px) {
  .compras{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding-top:2em
  }
  .compra{
    background-color: #ced3dc;
    width: 60%;
    padding: 1em;
    border-radius: 2em;
  }
  .compra label{
    margin-left: 3em;
    
  }
  .detalle{
    height: 10vh;
  }
  .compra #boton{
    width: 20%;
    margin-left: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

}
@media only screen and (min-width: 1024px) {
  .major {
    display: inline;
  }
  .movil {
    display: none;
  }
  .perfil {
    width: 20%;
    background-color: #0a2342;
  }
  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0a2342;
    color: #ffffff;
    height: 15%;
    padding: 10px;
    align-content: center;
  }
  
  .tarjetas {
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: auto;
    width: 10em;
    border-left: 0px;
    border-bottom: 0.5em solid #0a2342;
    text-align: center;
  }
  .tarjetas img{
    width: 70%;
    height: 60%;
    margin-left: 0px;
    justify-content: space-between; 
  }
  .header img{
    justify-content: flex-end;
  }
  .header h1{
    font-size: vh;
    justify-content:center;
  }
  .principal {
    width: 80%;
  }
  .tarjeta{
    display: flex;
    flex-direction: row;
  }
  .tarjeta .trans{
    width: 60%;
    height: 60%;
  }
  .tarjetas:hover {
    border-bottom: 0.5em solid #f9dc5c;
    border-left: 0px;
  }
  .main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .yellowbar {
    background-color: #f9dc5c;
    padding: 0.5em;
    margin: 3em auto;
    width: 80%;
    height: 10%;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  .yellowbarL{
    margin: 1em auto;
  }
  .input{
    height: 2vh;
  }
  .Formulario{
    width: 50%;
  }

/*Transacciones*/

    .movimientos{
      width: 81.2%;
      height: 50%;
      margin-top: 6em;
      margin-left: 4.5em; 
    }

    .movimientos h3{
      font-size: 0.8em;
    }
  
    .bluebar{
      width: 57.7%;
    }

    .bluebar h3{
      font-size: 1.2em;
    }

    /* Lateral */

.help{
  display: none;
}
.mostrar{
  display: flex;
  z-index: 30;
  right: 28%;
  background-color: #0a2342;
  top: 50%;
  position: absolute;
  width: 15em;
  padding: 10px;
  height: auto;
  flex-direction: column;
  border-radius: 2em;
  color: #ffffff;
  font-size: 1.4em;
}

.mostrar img{
  width: 40%;
  height: 10%;
  margin-left: 4.5em;
}
.help p{
  text-align: center;
}
}
@media only screen and (min-width: 1440px) {
  /* ESTADISTICAS */
  .yellowbarE{
    background-color: #f9dc5c;
    padding: 0.5em;
    margin: 1.5em auto;
    width: 80%;
    height: 5%;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    align-content: center;
    align-items: center;  
  }
  .estadisticas{
    display: flex;
    flex-direction: column;
    /*background-color: ;*/
    justify-content: center;
    justify-items: center;
  }
  /* compra */
  .compras{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding-top: 0px;
  }
  .imgE{
    height: 4em;
    width: auto;
  }
  .yellowbar{
    font-size: 1.4em;
    margin: 1em;
    margin-left: 4em;
  }
  
  /*ESTADISTICAS*/
  .yellowbarE{
    background-color: #f9dc5c;
    padding: 0.5em;
    margin: 1.5em auto;
    width: 80%;
    height: 5%;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    align-content: center;
    align-items: center;  
  }
  .estadisticas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  /*compra*/
  .detalle{
    height: 10vh;
  }
  .compra #boton{
    width: 20%;
    margin-left: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .compra{
    margin-top: 0em;
    background-color: #ced3dc;
    width: 50%;
    padding: 1em;
  }
  .compra label{
    margin-left: 3em;
    
  }
  .formcompra{
    display: flex;
    flex-direction: column;
  }
  .formcompra textarea{
    border-radius: 50%;
    display: block;
    margin: auto auto;
    width: 70%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 0em;
    color: #757575;
    border-radius: 0.5em;
  }
  .help{
    display: none;
  }
  .mostrar{
    display: flex;
    z-index: 2;
    right: 30%;
    background-color: #0a2342;
    top: 40%;
    position: absolute;
    width: 15em;
    padding: 10px;
    
    height: auto;
    flex-direction: column;
    border-radius: 2em;
    color: #ffffff;
  }
  .mostrar img{
    width: 40%;
    height: 10%;
    margin-left: 4.5em;
  }
  .help p{
    text-align: center;
  }

    /*Transacciones*/

    .movimientos{
      width: 81.2%;
      height: 50%;
      margin-top: 6em;
      margin-left: 5em; 
    }
    .movimientos h3{
      font-size: 1em;
    }
  
    .bluebar{
      width: 59.9%;
    }

    .bluebar h3{
      font-size: 1.5em;
    }
  /*login*/
  .Formulario{
    width: 40%;
    height: auto;
    margin-top: 5%;
  }
  .login{
    display: flex;
    flex-direction: column;
    text-align: initial;

  }
  .login label{
    margin-left: 10%;
    margin-bottom: 5px;
  }
  .input{
    padding-left: 5%;
  }
  .yellowbarL{
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .priLog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}